.footer{
    width: 100%;
    height: 15rem;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.copyright{
    font-family: "Baloo Da 2",serif;
    font-size: 1.6rem;
    color: #a7a7a7;
    
}
.social-list a{
    margin: 2.2rem;
}
.social-list i{
    font-size: 2rem;
    color: #a7a7a7;
}

.social-list i:hover{
    color: gold;
}

.scroll-btn{
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    box-shadow: 0 0.1rem 0.6rem rgba(0,0,0,0.2);
    border-radius: 3rem;
    
}
.scroll-btn:hover{
    background-color: white;
    color: gold;
}
