.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem 20rem 5rem;
}

.cards-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
    width: 100%;
}

.card{
    width: 37rem;
    height: 45rem;
}

.cards-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}